* {
    box-sizing: border-box;
}
.whole {
    background-color: #ecf1f7;
}
.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
}
img{
    max-width: 100%;
}
.imgs {
    border-radius:100%;
    position: relative;
   block-size: 50px;
   width: 50px;
}
.imgss {
    border-radius: 100%;
    position: relative;
    background-color: cornsilk;
    block-size: 20px;
    width: 32px;
    padding: 2.5px;
    margin-left: auto;
    /*padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;*/
}
.fb, .twi, .pin {
    border-radius: 100%;
    block-size: 20px;
    width:32px;
    padding: 2.5px;
}
.imgss:hover {
    opacity: .75;
}
.main {
    margin-left: auto;
}
#hidden {
    display:none ;
    background-color: #49556b;
    width: 100%;
    border: 5px solid red;

}
.every {
    color: white;
    display: inline-block;
    width: 100%;
    margin-left: 0px;
    padding: 10px;
    
}
span{
    margin-right: 10px;
}
#share {
    display: block;
    
}
.text {
    color: black;
    width: 80%;
    margin: 0 auto;
}
p{
    font-weight: lighter;
}
.paras {
    margin-left: 20px;
    margin-top: 0em;
}
.row {
    display: flex;
}
@media (min-width:950px) {
   .rol{
        display: flex;
    }
    img {
        max-width: 100%;
    }
    .hero_img {
        width: 100%;
        min-height: 300px;
    }
    .col + .col{
        margin-left: 40px;
    }
}
